

#header_container {
  margin-top: 5px;
  /*overflow: hidden;*/
  padding: 5px;
  border: 2px solid blue;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}



.container {
    background-image: "images/carrizo_plains.png";
    background-repeat: no-repeat;
    opacity: 20%;
    margin: auto;
    width: 90%;
}

p {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}

.display-top {
  /*position:absolute;*/
  border: 1px solid blue;
  height: 80%;
  width: 70%
  /*margin: auto;*/
  margin-left: 25%;
}

.display-bottom {
  /* Not implemented */
}

.display-left {
  border: 1px solid red;
  position: absolute;
  width: 24%;
  height: 90%;
}

#header-table {
  width: 90%;
}

#header-left {
  width: 65%;
}

#header-right {
  width: 25%;
  align-self: center;
}
