#header_container {
  margin-top: 5px;
  /*height: 10vh;*/
  /*overflow: hidden;*/
  padding: 5px;
  border: 2px solid blue;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

.container {
    margin: auto;
    width: 90%;
}

p {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}

.display-top {
  border: 1px solid black;
  height: 30%;
}

.display-bottom {
  border: 1px solid black;
  height: 30%;
}

.display-left {
  border: 1px solid black;
  width: 30%
}

#header-table {
  width: 90%;
}

#header-left {
  width: 65%;
}

#header-right {
  width: 25%;
  align-self: center;
}
