<div class="container">
  <h1>Dynamic Earthquake Mapping!</h1>

  <ul class="tabs">
    <li class="active"><a href="data">Data Management</a></li>
    <li><a href="#2d_map">Earthquake Map</a></li>
    <li><a href="3d_map">Earthquake Visualization</a></li>
    <li><a href="account">Account Data</a></li>
  </ul>

  <div class="display-top"></div>
  <div class="display-bottom"></div>
  <div class="display-left"></div>

  </div>

</div>
